:root{
    --azulClaro: #0ABDC6;
    --azulOscuro: #091833;
}

html,
body {
    margin: 10;
    padding: 10;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.flex-container {
    background-color: #000 !important;
    border-radius: 0% !important;
}

/*
Columna de chats
*/

.ce-chat-card {
    background-color: var(--azulOscuro) !important;
    color: var(--azulClaro) !important;
    border-radius: 15px;
    width: 310px;
    margin: 5px;
}

.ce-chats-container{
    background-color: black !important;
    border-radius: 0px !important;
}

.ce-chat-list{
    overflow: auto !important;
    background-color: black !important;
}

/*
Columna del chat
*/

/*
Titulo
*/

.ce-chat-title-container{
    background-color: black !important;
    color: white !important;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

/*
Mensajes y su información en general
*/

.ce-message-bubble {
    color: var(--azulOscuro) !important;
    background-color: var(--azulClaro) !important;
}

.ce-their-message-bubble {
    color: #0ABDC6 !important;
    background-color: #091833 !important;
}

.ce-their-message-sender {
    color: white !important;
}

.ce-message-date-text {
    color: #0ABDC6 !important;
}

.ce-chat-feed-container {
    background-color: black !important;
}

.ce-send-button-container {
    background-color: #EA00D9 !important;
    color: black !important;
}

.ql-toolbar {
    background-color: black;
    border-color: #0ABDC6 !important;
}

.ql-container{
    background-color: black;
    color: white;
    border-color: #0ABDC6 !important;
}

/*
Columna derecha
*/
.ce-settings-column {
    background-color: black !important;
    align-content: center !important;
}


/*
Botones oscuros, led
*/

.glow-on-hover {
    width: 250px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin: 5px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}