:root {
    --colorTitulos: #DDD;
    --azulFondo: #0d4f63;
    --color2: #3b8cde;
    --color1: #67c7ca;
}

.flex-container {
    display: flex;
    padding: 15px 0px;
    justify-content: space-between;

    color: var(--colorTitulos);
    border-radius: 10px;
}

.flex-container  * {
    margin: 0 10px;
}
